.navigating-pictures{
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 2px solid rgb(189, 187, 187);
    margin-top: 70px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(2, 243, 243), rgb(167, 241, 241), rgb(58, 240, 240));
}
.navigating-pictures h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 10%;
    color: rgb(163, 161, 161);
    font-size: 40px;
}
.navigating-pictures img{
    width: 500px;
    height: 300px;
}