/* Default styles for screens larger than 768px */
* {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  font-style: normal;
}

body {
  overflow: scroll;
}
